* {
  margin: 0;
  padding: 0;
}

#welcome-heading{
  margin-top: 30px;
  margin-left: 690px;
  font-size: 40px;
}

#select-dan{
  width: 300px;
  margin-top: 30px;
  margin-left: 800px;
  font-size: 25px;
  margin-bottom: 30px;
}

#btn-prikazi {
  margin-left: 810px;
  width: 280px;
  font-size: 20px;
}

#rasp-tab{
  margin-top: 30px;
  margin-left: 530px;
  width: 900px;
}